# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

# Build results and intermediate files
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
out/
build-*

# IDE-specific files and directories (Visual Studio, CLion, etc.)
.vs/
.vscode/
.idea/
*.vcxproj.user
*.suo
*.user
*.config
cmake-build-*/

# OS-specific files
.DS_Store
*.swp